.polka {
  background-image: radial-gradient(rgba(0, 0, 0, 0.6) 20%, transparent 30%),
    radial-gradient(rgba(0, 0, 0, 0.6) 20%, transparent 30%);
  background-position: 0px 0px, 8px 8px;
  background-size: 5px 5px;
}
