

.button:hover {
  animation: shake 1s linear infinite;
  transition: scale 0.5s;
  scale: 1.2;
}

/* @keyframes light { */
/* 0%, 50% { */

/* } */
/* } */

@keyframes shake {
  0%, 100% {
    transform: translate(0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-2px, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate(2px, 0);
  }
}
